<p id="notice"><%= notice %></p>

<p>
  <strong>姓:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>名:</strong>
  <%= @user.first_name %>
</p>
<% if @current_user.id == @user.id %>
<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>パスワード:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>性別:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>住所:</strong>
  <%= @user.adress %>
</p>

<%= link_to '編集', edit_user_path(@user) %> |
<% end %>
<%= link_to '戻る', users_path %>
