<%= form_with(model: client, local: true, multipart: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :店舗名 %>
    <%= form.text_field :name, id: :client_name %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email, id: :client_email %>
  </div>

  <div class="field">
    <%= form.label :最大席数 %>
    <%= form.number_field :max_seat, id: :client_max_seat %>
  </div>

  <div class="field">
    <%= form.label :電話番号 %>
    <%= form.number_field :phone_number, id: :client_phone_number %>
  </div>
  
  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title, id: :client_title %>
  </div>
  
  <div class="field">
    <%= form.label :画像 %>
    <%= form.file_field :image_name, id: :client_image_name %>
  </div>

  <div class="actions">
    <%= form.submit "登録" %>
  </div>
<% end %>
