<div class="client_show">
<p>
  〜<%= @client.title %>〜
</p>
  <h1><%= @client.name %></h1>
  <img src="<%= "/client_images/#{@client.image_name}" %>">

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>最大席数:</strong>
  <%= @client.max_seat %>
</p>

<p>
  <strong>電話番号:</strong>
  <a href="tel:"><%= @client.phone_number %></a>
</p>

<button>
  マッチング
</button>
<%= link_to '編集', edit_client_path(@client) %> |
<%= link_to '戻る', clients_path %>
</div>